.vscode/settings.json
/__pycache__
browser-state.json
/tests/__pycache__
browser-state.json
/fixtures/__pycache__
/pages/__pycache__
/components/__pycache__
/components/navigation/__pycache__
/components/courses/__pycache__
/components/views/__pycache__
/components/authentication/__pycache__
/components/charts/__pycache__
/components/dashboard/__pycache__
